$desktop:1200px;
$laptop:1024px;
$tablet:768px;
$phone:480px;

     *{
        box-sizing: border-box;
     }

     .body{
        font-family: "Source Sans Pro", Montserrat, sans-serif;
        font-size: 16px;
        text-align: center;
        width: 100%;
        background: url("../img/bg.jpg"), lightgray;
        background-size: cover;
        background-attachment: fixed;
        color: black;
        float: left;
        margin: auto;
     }

.card{
         width: 100%;
         text-align:center;
         margin: auto;
     }

nav {
    display: inline-block;
    text-align: center;
    color: green;
    background-color: rgba(81, 128, 81, 0.3);
    margin:auto;
    padding: 10px;
    width:100%;
}

.portrait{
    max-width: 100%;
    padding: 10px;
}

.container{
    width:90%;
    color: black;
    background: inherit;
    display: block;
    margin-top: 20px;
}

.row{
    padding: 30px;
}

h6 {
    text-align: center;
    color: green;
    background-color: white;
}

h2{
    margin: 10px;
}

h3 {
    text-align: center;
    color: green;
    background-color: rgba(81, 128, 81, 0.3);
}
h1  {
    text-align: center;
    color: white;
}
.p{
    margin-left: 20px;
    margin-right: 20px;
}
section{
    margin:auto;
    width:100%;
    text-align: center;
    align-content: center;
    color: green;
    background-color: rgba(241, 249, 241, 0.6);
}

.footer{
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: green;
    background-color: rgba(81, 128, 81, 0.3);
}

.map-container-7{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-container-7 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

header {
    background-color: #035b03;
    padding: 10px;
    font-size: 35px;
    color: white;
    display: block;
}

#comments{
    margin-top: 20px;
    color: black;
    padding: 10px;
}

section::after {
    content: "";
    display: table;
    clear: both;
}

#petgroup{
    border-radius: 10%;
    max-width: 100%;
    height: auto;
}

a:link {
    background-color: darkolivegreen;
    width: 200px;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
}

a:visited {
    background-color: darkolivegreen;
    width: 200px;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
}

a:hover {
    background-color: darkgreen;
    width: 200px;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
}

a:active {
    background-color: darkgreen;
    width: 200px;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
}

a.linkz{
    text-decoration: none;
    color: black;
    background: none;
    display: block;
    border: none;
    padding: 0;
    margin: auto;
}

#teamcard{
    max-width: 100%;
    color: black;
    position: relative;
    float: left;
}

@media screen and (min-width:768px){
    #teamcard {
        max-width: 25%;
    }
}

#teamcard:hover{
    box-shadow: 0 12px 48px 0 darkolivegreen;
    transition: 0.3s;
}