/* THESE ARE THE RESPONSIVE SETTINGS */
$desktop:1200px;
$laptop:1024px;
$tablet:768px;
$phone:480px;

/* THESE SETTINGS APPLY TO ALL PAGE CONTENT */
*{
    padding: -10px 0 0 0;
    box-sizing: border-box;
    border-radius: 10px;
}

/* THESE ARE THE BODY SETTINGS */
.body{
    font-family: "Source Sans Pro", Montserrat, sans-serif;
    font-size: 16px;
    text-align: center;
    width: 100%;
    background: url("../img/bg.jpg"), lightgray;
    background-size: cover;
    background-attachment: fixed;
    color: #333;
    float: left;
    margin: auto;
}

/*THESE ARE THE LINKSTYLE SETTINGS */
a:link {
    color: darkolivegreen;
    padding: 0x;
    text-align: center;
    text-decoration: underline;
}

a:focus {
    color: darkolivegreen;
}

a:visited {
    color: green;
    padding: 0;
    text-align: center;
    text-decoration: underline;
}

a:hover {
    color: green;
    padding: 0;
    text-align: center;
    text-decoration: none;
}

a:active {
    color: greenyellow;
    padding: 0;
    text-align: center;
}

/*THESE ARE THE BUTTON SETTINGS */
button {
    background-color: darkred;
    width: 200px;
    color: white;
    padding: none;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

button A:link {text-decoration: none; color: whitesmoke;}
button A:visited {text-decoration: none; color: beige;}
button A:hover {text-decoration: none; color: indianred;}
button A:active {text-decoration: none; color: indianred;}

/*THESE ARE THE NAV BAR SETTINGS */

/* Screen reader only */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

/* Button styling */
.menu-toggle {
    display: inline-block;
    padding: .75em 15px;
    line-height: 1em;
    font-size: 1em;
    color: #333;
}

.menu-toggle:hover,
.menu-toggle:focus {
    color: #F9F9F9;
}

/*
 Default styles + Mobile first
 Offscreen menu style
*/
.main-menu {
    position: absolute;
    color: #F9F9F9;
    display: none;
    left: -200px;
    top: 0;
    height: 100%;
    overflow-y: scroll;
    overflow-x: visible;
    transition: left 0.3s ease,
    box-shadow 0.3s ease;
    z-index: 999;
}

.main-menu ul {
    list-style: none;
    color: #F9F9F9;
    margin-right: 250px;
    margin-top: 15px;
    padding: 2.5em 0 0;
    /* Hide shadow w/ -8px while 'closed' */
    -webkit-box-shadow: -8px 0 8px rgba(0,0,0,.5);
    -moz-box-shadow: -8px 0 8px rgba(0,0,0,.5);
    box-shadow: -8px 0 8px rgba(0,0,0,.5);
    min-height: 100%;
    width: 200px;
    background: darkgreen;
}

.main-menu a {
    display: block;
    color: #F9F9F9;
    padding: .75em 15px;
    line-height: 1em;
    font-size: 1em;
    text-decoration: none;
}

.main-menu a:hover,
.main-menu a:focus {
    background: transparent;
    color: yellowgreen;
    text-decoration: underline;
}

.main-menu .menu-close {
    position: absolute;
    right: 0;
    top: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

header {
    padding: 20px;
    display: flex;
    align-items: baseline;
}

article {
    padding: 30px;
    width: 55em;
    font-size: 16px;
    line-height: 1.5em;
}

article h2 {
    font-weight: 500;
    font-size: 28px;
}

.logo {
    margin: 0 30px 0 10px;
    font-size: 1.5em;
}

.main-menu:target,
.main-menu[aria-expanded="true"] {
    display: block;
    left: 0;
    outline: none;
}

.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
    z-index: 1001;
}

.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
    position: relative;
    z-index: 1000;
}

.main-menu:target + .backdrop,
.main-menu[aria-expanded="true"] + .backdrop{
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    background: #333333;
    background: rgba(0,0,0,.85);
    cursor: default;
}

@supports (position: fixed) {
    .main-menu,
    .main-menu:target + .backdrop,
    .main-menu[aria-expanded="true"] + .backdrop{
        position: fixed;
    }
}

@media (min-width: 768px) {
    .menu-toggle,
    .main-menu .menu-close {
        display: none;
    }

    /* Undo positioning of off-canvas menu */
    .main-menu {
        position: relative;
        left: auto;
        top: auto;
        height: auto;
        display: block;
    }

    .main-menu ul {
        display: flex;
        padding: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        height: auto;
        width: auto;
        background: none;
    }

    .main-menu a {
        color: #F9F9F9;
        border: 0 !important; /* Remove borders from off-canvas styling */
    }

    .main-menu a:hover,
    .main-menu a:focus {
        background: none; /* Remove background from off-canvas styling */
        color: yellowgreen;
    }
}

.header-logo{
    display: inline-block;
    margin-left: 10%;
    margin-right: auto;
    padding: 10px;
}

.pets{
    display: inline-block;
    margin-left: 10%;
    margin-right: auto;
    padding: 10px;
}

/*THESE ARE THE HEADER SETTINGS */
header {
    background-color: rgba(85, 160, 43);
    width: 100%
    height: 64px;
    padding: 0;
    font-size: 20px;
    color: #F9F9F9;
    align-items: center;
    position: sticky; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    overflow: hidden;
    z-index: 9000;
}

/*THESE ARE THE SECTION SETTINGS */
section{
    margin:auto;
    width:100%;
    text-align: center;
    align-content: center;
    color: green;
    background-color: rgba(241, 249, 241, 0.6);
}

/*THESE ARE THE CONTAINER SETTINGS */
.container{
    width:100%;
    color: #333333;
    display: block;
}

@media (min-width: 576px) {
    .container {
        max-width: calc(100% - 20px);
    }
}

@media (min-width: 768px) {
    .container {
        max-width: calc(100% - 30px);
    }
}

@media (min-width: 992px) {
    .container {
        max-width: calc(100% - 50px);
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

/*THESE ARE THE ROW SETTINGS */
.row{
    padding: 10px;
}

/*THESE ARE THE SPAN SETTINGS */
span{
    font-weight: bolder;
}

/*THESE ARE THE PARAGRAPH SETTINGS */
.p{
    margin-left: 20px;
    margin-right: 20px;
    text-align: center ;
}

mark {
    background-color: rgba(241, 249, 241, 0.6);
    color: darkgreen;
}

.p1 {
    text-align: center;
    font-size: 12px;
    font-weight: bolder;
}

/*THESE ARE THE H1 SETTINGS */
h1  {
    text-align: center;
    color: #333333;
    margin-top: 0;
    margin-bottom: 0;
}

/*THESE ARE THE H2 SETTINGS */
h2{
    margin: 10px;
}

/*THESE ARE THE H3 SETTINGS */
h3 {
    margin-top: 10px;
    text-align: center;
    color: #ebf3eb;
    background-color: rgba(85, 160, 43, 0.7);
}

/*THESE ARE THE H4 SETTINGS */
h4 {
    text-align: center;
}

/*THESE ARE THE H5 SETTINGS */
h5 {
    margin-top: 10px;
    text-align: center;
    color: #ebf3eb;
    background-color: rgba(85, 160, 43, 0.7);
}


/*THESE ARE THE H6 SETTINGS */
h6 {
    text-align: center;
    color: green;
    background-color: #F9F9F9;
}

/*THESE ARE THE 'HOME' SPECIFIC SETTINGS */
.opacity {
    z-index: -1;
    display: none;
}

.head {
    color: white;
}

.container1 .homeImg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.45;
}

.homeImg {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: bottom;
    z-index: -1;
}

.content {
    position: relative;
    width: auto;
    text-align: center;
    margin: 250px 0px;
}

.cardbrian:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cardvanessa:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
    font-family: Helvetica;
    z-index: +1;
}

.Brian {
    width: 50px;
    height: 50px;
    object-fit: cover;
    float: left;
    position: relative;
}

.cardbrian  {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.cardvanessa {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

@media only screen and (max-width: 576px) {
    .cardbrian {
        display: block;
    }
    .cardvanessa {
        display: block;
    }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
    .cardbrian {
        display: block;
    }
    .cardvanessa {
        display: block;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .cardbrian {
        display: block;
        float: left;
    }
    .cardvanessa {
        display: block;
    }
}

@media only screen and (min-width: 992px) {
    .cardbrian {
        display: block;
        float: left;
        font-size: 200%;
    }
    .cardvanessa {
        display: block;
        width: 500px;
        font-size: 200%;
    }

    .Brian {
        width: 20%;
        height: 20%;
    }
    .Vanessa {
        width: 20%;
        height: 20%;
    }
}

.portraitbv{
    max-width: 50%;
}

#teamcardbv{
    max-width: 50%;
    color: black;
    position: relative;
    float: left;
}

#teamcardbv:hover{
    box-shadow: 0 12px 48px 0 darkolivegreen;
    transition: 0.3s;
}

#teamcardbv2{
    max-width: 50%;
    color: black;
    position: relative;
    float: left;
}

#teamcardbv2:hover{
    box-shadow: 0 12px 48px 0 darkolivegreen;
    transition: 0.3s;
}

a.linkzbv{
    text-decoration: none;
    color: black;
    background: none;
    display: block;
    border: none;
    padding: 0;
    margin: auto;
}

/*THESE ARE THE 'ABOUT US' SPECIFIC SETTINGS */
#tp {
    width: 100%;
    height: 50%;
    max-width: 100%;
}

.na {
    width: 100%;
}

.img1 {
    width: 100%;
    max-width: 100%;
    opacity: 0.8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img2 {
    max-width: 100%;
    width: 100%;
    opacity: 0.8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img3 {
    max-width: 100%;
}

.img2:hover {
    box-shadow: 1px 2px 14px 7px darkolivegreen;
    transition: 0.3s;
    opacity: unset;
}

.img1:hover {
    box-shadow: 1px 2px 14px 7px darkolivegreen;
    transition: 0.3s;
    opacity: unset;
}

.sec {
    margin: auto;
    width: 60%;
    text-align: center;
    color: black;
    background-color: rgba(241, 249, 241, 0.6);
}

.animalsource{
    list-style: none;
}

.offer2 {
    width: 18%;
    float: left;
    display: block;
}

.offer {
    margin: auto;
    width: 60%;
    background-color: rgba(241, 249, 241, 0.6);
    display: none;
    padding: 0 10px 0 10px;
}

@media only screen and (max-width: 576px) {
    .offer2 {
        display: none;
    }

    .offer {
        display: block;

    }
}

@media only screen and  (min-width: 576px) and (max-width: 768px) {
    .offer2 {
        display: block;
    }

    .offer {
        display: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .offer2 {
        display: block;
    }

    .offer {
        display: none;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .offer2 {
        display: block;
    }

    .offer {
        display: none;
    }
}

/*THESE ARE THE 'SERVICES' SPECIFIC SETTINGS */

#our-service{
    width: 100%;
}

#coverpic{
    width: 65%;
    height: auto;
}

dt {
    text-align: left ;
    left: 400px;
    font-size: 20px;
}

dt {
    text-align: left ;
    left: 450px;
}

#link-price {
    text-align: center;
}

.yy {
    color: rgba(197, 161, 65, 1);
}

#soda {
    width: 25%;
    border-radius: 50%;
    float: left;
    position: relative;
    padding: 3px;
    box-shadow: 2px 5px rgba(197, 161, 65, 1) ;
    max-width: 100%;
}

#cc {
    width: 50%;
    border-radius: 50%;
    float: right;
    position: relative;
    padding: 3px;
    box-shadow: 2px 5px rgba(197, 161, 65, 1)
}

/*CAROUSSEL */
img {
    vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.containerc {
    position: relative;
    alignment: center;
    max-width: 50;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 25%;
    border-radius: 3px 0 0 3px;
}

/* Position the "next button" to the right */
.prev {
    left: 25%;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
}

/* Number text (1/3 etc) */
.numbertext {
    color: #333333;
    font-size: 12px;
    padding: 8px 12px;
    position: relative;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #F9F9F9;
    padding: 2px 16px;
    color: #333333;
    width: 50%;
    margin: auto;
}

.rowc{
    max-width: 50%;
    margin: auto;
}

.rowc:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.columnc {
    float: left;
    width: 11.11%;
    object-fit: fill;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

.tt {
    font-style: italic;
}

@media only screen and (max-width: 576px) {
    .MySlides{
    min-width= 100%;
    }
}

@media only screen and  (min-width: 576px) and (max-width: 768px) {
    .MySlides{
        min-width= 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .MySlides{
        max-width= 50%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .MySlides{
        max-width= 50%;
    }
}


/* TABLE */
#let {
    background-color: rgba(45, 103, 46, 1);
    color: rgba(246, 228, 177, 1);
}
table, td, tr{
    background-color:rgba(191, 219, 160, 1) ;
    margin: 50px auto 50px auto;
    max-width: 100%
}
.ht {
    text-align: center ;
}

.bold {
    text-align: center ;
}

.price {
    text-align: center;
}

#logo {
    border-radius: 12px;
    position: sticky ;
    float: right;
    background-color: rgba(81, 128, 81, 0.3) ;
    height: 80px;
    width: 80px;
    bottom: 15px;
    display: block;
}

/*THESE ARE THE 'FAQ' SPECIFIC SETTINGS */

/*PARALLAX IMAGE */
.parallax {
    background-image: url("../img/bg-parallax.jpg");
    opacity: 0.6;
    min-height: 450px;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    background-image: url("../img/Homepage.jpeg");
    opacity: 0.6;
    min-height: 450px;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*FREQUENTLY ASKED QUESTIONS */
@media screen and (min-width:768px){
    .faq input[type='checkbox']:not(:checked) + label {
        max-height: 30px;
    }
}

.faq{
    width:100%;
    color: black;
    text-align: center;
    background: inherit;
    display: block;
    margin: auto;
}

.faq-heading {
    font-weight: 400;
    font-size: 19px;
    -webkit-transition: text-indent 0.2s;
    text-indent: 20px;
    color: #333;
}

.faq-text {
    font-weight: 400;
    color: #919191;
    width:95%;
    padding-left:20px;
}

.faq label {
    display: block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    padding-top:1px;
    background-color: #FAFAFA;
    border-bottom: 1px solid #E1E1E1;
}

.faq input[type="checkbox"] {
    display: none;
}

.faq .faq-arrow {
    width: 5px;
    height: 5px;
    transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    transition: transform 0.8s, -webkit-transform 0.8s;
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    border-top: 2px solid rgba(0, 0, 0, 0.33);
    border-right: 2px solid rgba(0, 0, 0, 0.33);
    float: right;
    position: relative;
    top: -30px;
    right: 27px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.faq input[type="checkbox"]:checked + label > .faq-arrow {
    transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    transition: transform 0.8s, -webkit-transform 0.8s;
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.faq input[type="checkbox"]:checked + label {
    display: block;
    background: rgba(255,255,255,255) !important;
    color: #4f7351;
    height: auto;
    transition: height 0.8s;
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.faq input[type='checkbox']:not(:checked) + label {
    display: block;
    transition: height 0.8s;
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

::-webkit-scrollbar {
    display: none;
}

/*THESE ARE THE 'CONTACT' SPECIFIC SETTINGS */

/*GOOGLE MAPS */
.map-container-7{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-container-7 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

/*CALL US */
#call{
    padding-top: 20px;
    color: #333333;
}

/*PET IMAGE */
#petgroup{
    border-radius: 10%;
    margin: 10px;
    max-width: 100%;
    height: auto;
}

/*TEAM TITLE */
#teamtitle{
    padding-top: 20px;
    color: #333333;
}

/*TEAM CARDS + PORTRAITS*/
.portrait{
    max-width: 100%;
    padding: 10px;
}

#teamcard{
    max-width: 100%;
    color: black;
    position: relative;
    float: left;
}

#teamcard:hover{
    box-shadow: 0 12px 48px 0 darkolivegreen;
    transition: 0.3s;
}

#teamcard2{
    max-width: 100%;
    color: black;
    position: relative;
    float: left;
}

#teamcard2:hover{
    box-shadow: 0 12px 48px 0 darkolivegreen;
    transition: 0.3s;
}

#teamcard3{
    max-width: 100%;
    color: black;
    position: relative;
    float: left;
}

#teamcard3:hover{
    box-shadow: 0 12px 48px 0 darkolivegreen;
    transition: 0.3s;
}

#teamcard4{
    max-width: 100%;
    color: black;
    position: relative;
    float: left;
}

#teamcard4:hover{
    box-shadow: 0 12px 48px 0 darkolivegreen;
    transition: 0.3s;
}

a.linkz{
    text-decoration: none;
    color: black;
    background: none;
    display: block;
    border: none;
    padding: 0;
    margin: auto;
}

@media screen and (min-width:768px){
    #teamcard {
        max-width: 25%;
    }
}

/*THESE ARE THE FOOTER SETTINGS */
.footer {
    color: #ebf3eb;
    background-color: rgba(85, 160, 43, 0.7);
    width: 100%;
    height: 80px;
    display: block;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.fa {
    margin-top: 25px;
    margin-left: 30px;
    padding: 12px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    float: left;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
    margin-left: 5px;
}

.footer-text {
    text-align: center;
    font-weight: bold;
    padding: 0px;
    margin-top: 31px;
    font-family: Helvetica;
    position: relative;
}

section::after {
    content: "";
    display: table;
    clear: both;
}